---
---

@charset "utf-8";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// variables
$main: #465268;
$accent: #bab17a;
$sitewidth: 1200px;

@import "normalize";
@import "header";
@import "nav";
@import "services";
@import "aboutme";
@import "footer";
@import "flexslider";
@import "textslider";
p, a{
  color: #000;
  font-size: 18px;
  text-decoration: none;
}
h2{
  color: $accent;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 4px;
}
.dark-section{
  background-color: $main;
  color: white;
}
.header, section{
  width: 100%;
}
.inner-wrapper{
  width: 100%;
  max-width: $sitewidth;
  margin: 0 auto;
  padding: 40px 20px;
}
*{
  border: 1px solid red;
}
