---
layout: default
description: A very simple way to add structured data to a page.
---


<div>
        <div class="flexslider" id="heroslider">
          <ul class="slides">
            <li>
  	    	    <img src="http://fillmurray.com/1200/550" />
  	    		</li>
  	    		<li>
  	    	    <img src="http://fillmurray.com/1201/550" />
  	    		</li>
  	    		<li>
  	    	    <img src="http://fillmurray.com/1202/550" />
  	    		</li>
  	    		<li>
  	    	    <img src="http://fillmurray.com/1203/550" />
  	    		</li>
          </ul>
        </div>
</div>
<section>
  <div class="inner-wrapper">

    {% include services.html %}

  </div>
</section>

<section class="about-me">
  <div class="background-top">
    <div class="background-image"></div>
    <img src="images/Jeff-Heaton-about-me.png" alt="">
    <h2>About Me</h2>
  </div>
  <div class="inner-wrapper">

    {% include aboutme.html %}

  </div>
</section>

<section class="dark-section">
  <div class="inner-wrapper">

    <div class="slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <p class="flex-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
          </li>
          <li>
            <p class="flex-text">Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>
        </ul>
      </div>
      <div class="custom-navigation">
        <a href="#" class="flex-prev controls"><img src="images/left.png" alt=""></a>
        <div class="custom-controls-container"></div>
        <a href="#" class="flex-next controls"><img src="images/right.png" alt=""></a>
      </div>
    </div>

  </div>
</section>


<!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

  <!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script>

  <script type="text/javascript">
    $(window).load(function(){

      $('#heroslider').flexslider({
        animation: "slide",
        controlNav: false,
        directionNav: false,
        slideshowSpeed: 4000,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });

      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: false,
        controlsContainer: $(".custom-controls-container"),
        customDirectionNav: $(".custom-navigation a"),
        start: function(slider){
          // $('body').removeClass('loading');
        }
      });
    });
  </script>
