---
layout: default
title: Jeff Heaton Life Celebrant
---


<div>
    <div class="flexslider" id="heroslider">
      <ul class="slides">
        <li>
    	    <img src="images/jeff-heaton.jpg" />
    		</li>
        <li>
    	    <img src="images/slider-weddings.jpg" />
    		</li>
    		<li>
    	    <img src="images/slider-funerals.jpg" />
    		</li>
    		<li>
    	    <img src="images/slider-naming.jpg" />
    		</li>
    		<li>
    	    <img src="images/slider-other-life-events.jpg" />
    		</li>
      </ul>
    </div>
</div>

<section>
  <div class="inner-wrapper">

    {% include services.html %}

  </div>
</section>

<section class="about-me">
  <div class="background-top">
    <div class="background-image"></div>
    <img src="images/Jeff-Heaton-about-me.png" alt="">
    <h2>About Me</h2>
  </div>
  <div class="inner-wrapper">

    {% include aboutme.html %}

  </div>
</section>

<section class="dark-section">
  <div class="inner-wrapper">

    <div class="slider">

      <div class="flexslider">
        <ul class="slides">
          {% for member in site.data.testimonials %}
            <li>
              <p class="flex-text">{{ member.text }}</p>
              <h3>{{ member.name }}</h3>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="custom-navigation">
        <a href="#" class="flex-prev controls"><img src="images/left.png" alt=""></a>
        <div class="custom-controls-container"></div>
        <a href="#" class="flex-next controls"><img src="images/right.png" alt=""></a>
      </div>

    </div>

  </div>
</section>
