<p>My name is Jeff Heaton and I live in Calderdale, West Yorkshire.</p>

<p>I have undertaken training number of organisations including the Fellowship of Independent Celebrants and, with many years experience have had the privilege to work with many families on many different types of ceremony and celebration.</p>

<p>As an independent celebrant I have the ability to provide a ceremony that will best reflect your own personal wishes and will give me the flexibility to work closely with you to tailor a service which meets all your requirements.</p>

<p>It would be delighted to work closely with you, guiding you through the many options, possibilities and choices to provide an individual ceremony for you.</p>
