<div class="services">

  <a href="weddings.html" class="service">
    <h2>Weddings</h2>
    <div>
      <img src="images/weddings.svg" alt="Weddings">
    </div>
  </a>

  <a href="funerals.html" class="service">
    <h2>Funerals</h2>
    <div>
      <img src="images/funerals.svg" alt="Furnerals">
    </div>
  </a>

  <a href="naming.html" class="service">
    <h2>Naming Ceremonies</h2>
    <div>
      <img src="images/naming.svg" alt="Naming Ceremonies">
    </div>
  </a>

  <a href="life-events.html" class="service">
    <h2>Other Life Events</h2>
    <div>
      <img src="images/life-events.svg" alt="Other Life Events">
    </div>
  </a>

</div>
