.background-top{
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  .background-image{
    position: absolute;
    background: white;
    background-image: url('../images/about-bg.png');
    background-size: 100% 100%;
    top:-5px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.about-me{
  background-color: $main;
  padding-top: 0px;
  .inner-wrapper{
    text-align: center;
    padding-top: 0px;
    p{
      color: white;
    }
  }
}
.about-me-page{
  margin-top: 40px;
}
