<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
  <!-- Functions JS -->
  <script type="text/javascript" src="js/functions.js"></script>

  <!-- FlexSlider -->
  <script defer src="js/jquery.flexslider.js"></script>

  <title>{{page.title}}</title>
</head>
<body>
  <div class="header">

    <div class="inner-wrapper-header">
        <div class="logo">
          <a href="index.html">
            <img src="images/jeff-heaton-logo.svg" alt="Jeff Heaton">
          </a>
        </div>
        <div class="strap-text"><p>Your Personal Celebrant for&nbspall life's events</p></div>
        <div class="contact">
          <p class="phone">T: <a href="tel:07767073554">07767 073554</a></p>
          <p class="email">E: <a href="mailyo:jeff@life-celebrant.co.uk">jeff@life-celebrant.co.uk</a></p>
        </div>
    </div>
    <div class="nav-wrapper">
      <!-- Navigation -->
      <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation"><img src="images/open-menu.png" alt=""></a>
        <a href="#" title="Hide navigation"><img src="images/close-menu.png" alt=""></a>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li>
            <a href="" aria-haspopup="true" id="services">Services</a>
            <ul>
              <li><a href="weddings.html">Weddings</a></li>
              <li><a href="funerals.html">Funerals</a></li>
              <li><a href="naming.html">Naming Ceremonies</a></li>
              <li><a href="life-events.html">Other Life Events</a></li>
            </ul>
          </li>
          <li>
            <a href="testimomials.html">Testimomials</a>
          </li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <!-- End navigation -->
    </div>

  </div>

  {{content}}

  <div class="footer">
    <div class="inner-wrapper footer-wrapper">
      <div class="footer-img">
        <img src="images/aoic-logo.jpg" alt="AOIC Logo">
      </div>
      <div class="footer-info">
        <p>Member of the association of independent celebrants | Click <a href="#">here</a> for the AOIC code of practice</p>
        <p>fully insured | click <a href="#">here</a> for insurance documents</p>
      </div>
      <div class="footer-img">
        <img src="images/FOIC-Logo.jpg" alt="FOIC Logo">
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(window).load(function(){

      $('#heroslider').flexslider({
        animation: "slide",
        controlNav: false,
        directionNav: false,
        slideshowSpeed: 4000,
        start: function(slider){
          $('body').removeClass('loading');
        }
      });

      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: false,
        controlsContainer: $(".custom-controls-container"),
        customDirectionNav: $(".custom-navigation a"),
        start: function(slider){
          // $('body').removeClass('loading');
        }
      });
    });
  </script>

</body>
</html>
